{% extends 'index.html' %}
{% block title %}Quantum Doctor{% endblock title %}
{% block content %}
<section id="place-order">
    <div class="container">
      <h2 class="section-title">Place Your Order</h2><hr><br>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form action="{{ url_for('order') }}" method="POST">
            <div class="form-group">
              <label for="name">Your Name</label>
              <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
              <label for="email">Your Email</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
              <label for="address">Delivery Address</label>
              <textarea class="form-control" id="address" name="address" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Place Order</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  {%endblock content%}